.main {
    background-image: url('https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074075.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
